<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Cocktails app</title>
</head>

<body>
    <div id="container">
        <h1 class="title"><%= title %></h1><br>
        <div class="nav">
        <a href="http://localhost:3000">All</a>
        <a href="http://localhost:3000/?alcohol=rum">Rum</a>
        <a href="http://localhost:3000/?alcohol=tequila">Tequila</a>
        <a href="http://localhost:3000/?alcohol=gin">Gin</a>
        <a href="http://localhost:3000/?alcohol=vodka">Vodka</a>
        </div>

        <h2 class="name">Name</h2>
        <ul id="one" style="list-style: none;">
            <% cocktailList.forEach(e => { 
            if(e.isAlcoholic) { %>
            <li class="coctails" > <%= e.name %> <br> <%= e.contains %> </li>
            <% }else{ %>
            <li class="coctails" > <%= `${e.name} (non-alcoholic)` %> <br> <%= e.contains %> </li>
            <% } %>

            <% }); %>
        </ul>
<!-- create a script which after creation gives every li a class -->

        <h2 class="price">Price</h2>

        <ul id="two" style="list-style: none;">
            <% cocktailList.forEach(e => { %>
            <li class="coctail-prices"> <%= e.price %> Ft </li>
            <% }); %>
        </ul>


    </div>

</body>

</html>